<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, Jan 11 (Day 1)</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>12:30</td>  <td>Welcome / Setup</td> </tr>
      <tr> <td>12:45</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>14:00</td>  <td>Break</td> </tr>
      <tr> <td>14:15</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>15:15</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday, Jan 12 (Day 2)</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td>Welcome / Review</td> </tr>
      <tr> <td>13:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
    <div class="col-md-6">
    <h3>Thursday, Jan 13 (Day 3)</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td>Welcome / Review</td> </tr>
      <tr> <td>13:00</td>  <td>Programming with Python</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Friday, Jan 14 (Day 4)</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td>Welcome / Review</td> </tr>
      <tr> <td>13:00</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>14:30</td>  <td>Break</td> </tr>
      <tr> <td>14:45</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>15:45</td>  <td>Break</td> </tr>
      <tr> <td>16:00</td>  <td>Programming with Python (Continued)</td> </tr>
      <tr> <td>16:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>